<main>
  <div class="container row p-5 mx-auto">
    <button class="col-6 btn btn-light" type="button">
      <div class="circle mx-auto border border-success p-5">
        <div class="d-flex justify-content-center p-5">
          <i class="fas fa-futbol fa-6x circle-icon"></i>	
        </div>
      </div>
      <h3 class="text-center mt-3 text-warning">Agregar Cancha</h3>
    </button>
    <button class="col-6 btn btn-light" type="button">
      <div class="circle mx-auto border border-success p-5">
        <div class="d-flex justify-content-center p-5">
          <i class="fas fa-user-cog fa-6x circle-icon"></i>	
        </div>
      </div>
      <h3 class="text-center mt-3 text-warning">Manejo de Usuarios</h3>
    </button>
  </div>
</main>