<!-- Begin page content -->

<main role="main" class="container">
  <form class="bg-light shadow-lg border rounded p-5">
    <h2 class="text-center mb-4 text-primary">Editando Información de la cancha</h2>
    <div class="form-group">
      <label for="nameInput"><h4>Nombre</h4></label>
      <input type="text" [(ngModel)]="fieldData.name" class="form-control" id="fieldName" name="name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"><h4>Dirección</h4></label>
      <input type="text" [(ngModel)]="fieldData.address" class="form-control" id="fieldAddress" name="address" maxlength="1000">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"><h4>Teléfono</h4></label>
      <input type="text" [(ngModel)]="fieldData.phone" class="form-control" id="fieldPhoneNumber"  name="phone" data-inputmask="'mask': '99999999'" maxlength="8">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1"><h4>Servicios adicionales</h4></label>
      <textarea class="form-control" id="extraServices"  name="services" maxlength="1000"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"><h4>Cantidad de Jugadores</h4></label>
      <input type="text" [(ngModel)]="fieldData.capacity" class="form-control" id="capacity"  name="capacity" maxlength="1000">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"><h4>Horario</h4></label>
      <input type="text" [(ngModel)]="fieldData.schedule" class="form-control" id="schedule"  name="schedule" data-inputmask="'mask': '99999999'" maxlength="8">
    </div>
    <label for="exampleInputEmail1"><h4>Foto</h4></label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="imageInput" lang="es">
      <label class="custom-file-label" for="imageInput">Seleccionar Imagen</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3" (click)="updateGameField()">Submit</button>
  </form>
</main>