<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand mr-5" routerLink="/dashboard">MejengApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active ml-4 mr-4">
            <button class="btn btn-dark" type="button" (click)="goHome()">Home</button>
          </li>
          <li class="nav-item active mr-4">
            <button class="btn btn-dark" type="button" (click)="goToTeams()">Equipos</button>
          </li>
          <li class="nav-item active mr-4">
            <button class="btn btn-dark" type="button" (click)="goToFields()">Canchas</button>
          </li>
          <li class="nav-item active mr-4">
            <button class="btn btn-dark" type="button" (click)="goToGames()">Partidos</button>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <a class="nav-link text-light pr-3 mr-3 border-right" href="/" ng-model="name">{{name}}</a>
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" (click)="goToLogin()">Cerrar Sesión</button>
        </form>
      </div>
    </nav>
  </header>  

<router-outlet></router-outlet>

<footer class="footer footer-position bg-dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-bottom bg-dark">
      <a class="navbar-brand" routerLink="/user-manual">Contact Us</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
  
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <a class="nav-link text-light pr-3 mr-3 text-right">Copyright ©</a>
        </form>
      </div>
    </nav>
  </footer>