
  <!-- Begin page content -->
  
  <main role="main" class="container">
    <form class="bg-light shadow-lg border rounded p-5">
      <h2 class="text-center mb-4 text-primary">Ingresar Partido</h2>
      <div class="form-group">
        <label for="nameInput"><h4>Equipo rival</h4></label>
        <div>
          <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Seleccione un equipo
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Los Carreta</a>
                <a class="dropdown-item" href="#">Juventus Fans</a>
                <a class="dropdown-item" href="#">Los cínicos</a>
              </div>
          </div>
      </div>

      </div>
      <div class="form-group">
        <label for="otherScoreInput"><h4>Marcador</h4></label>
        <div class="row">
            <div class="col-6 pl-6">
                <input type="number" class="form-control" id="scoreInput" placeholder="Goles a favor">
            </div>
            <div class="col-6 pl-6">
                <input type="number" class="form-control" id="scoreInput" placeholder="Goles en contra">
            </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    </form>
  </main>