<!-- Begin page content -->

<!-- Title and button -->
<main role="main" class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h2 class="text-left ml-5 text-primary">Mis Equipos</h2>
    </div>
    <div class="col-4">
      <button type="button" class="btn bg-dark text-light float-right mr-5">Otros Equipos</button>
      <button type="button" class="btn btn-primary text-light float-right mr-5" routerLink="/create-team/">Agregar Equipo</button>
    </div>
    
  </div>
  
  <!-- List of teams -->
  <div class="row p-5">
    <div class="col-12 table-responsive">
        <table class="table border-bottom table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Número de miembros</th>
                <th scope="col">Victorias</th>
                <th scope="col">Perdidas</th>
                <th scope="col">Empates</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Los Carreta</th>
                <td>11</td>
                <td>5</td>
                <td>5</td>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">Juventus Fans</th>
                <td>15</td>
                <td>3</td>
                <td>2</td>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Los cínicos</th>
                <td>10</td>
                <td>7</td>
                <td>2</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</main>

<!-- Team information -->

<div class="row pl-5 pr-5">
    <div class="col-5 pl-5">
      <div class="row justify-content-center">
        <img src="../../assets/sample_team_avatar.jpg" class="img-fluid rounded-circle img-responsive" alt="Responsive image">
      </div>
      <div class="row justify-content-center">
        <h3 class="text-primary text-center">Los Carreta</h3>
      </div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary">Editar</button>
        <button type="button" class="btn btn-danger">Borrar</button>
      </div>
    </div>
    <div class="col-7">
      <div class="row">
        <h4 class="text-left ml-5 text-primary">Jugadores</h4>
      </div>
      <div class="row ">
        <div class="col-12 table-responsive">
            <table class="table border-bottom table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th><img src="../../assets/no_profile_pic.jpg" class="img-fluid rounded-circle img-responsive" alt="Responsive image"></th>
                    <td>Jose Miguel Mesen</td>
                  </tr>
                  <tr>
                    <th><img src="../../assets/no_profile_pic.jpg" class="img-fluid rounded-circle img-responsive" alt="Responsive image"></th>
                    <td>Esteban Ortega</td>
                  </tr>
                  <tr>
                    <th><img src="../../assets/no_profile_pic.jpg" class="img-fluid rounded-circle img-responsive" alt="Responsive image"></th>
                    <td>Jose Pablo</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
</div>