<!-- Begin page content -->
<main role="main">
  <div class="container d-flex justify-content-center">
    <form class="bg-light shadow-lg border rounded login-signup-form-size p-5">
      <h2 class="text-center mb-4 text-primary">Registrarse</h2>
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="name" name="name"  [(ngModel)]="playerDetails.name" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="username">Nombre de Usuario:</label>
        <input type="username" name="username" [(ngModel)]="playerDetails.username" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" name="email" [(ngModel)]="playerDetails.email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="phone">Teléfono:</label>
        <input type="phone" name="phone" [(ngModel)]="playerDetails.phone" class="form-control" id="phone">
      </div>
      <div class="form-group">
        <label for="pwd">Contraseña:</label>
        <input type="password" name="password" [(ngModel)]="playerDetails.password" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">Confirmar Contraseña:</label>
        <input type="password" name="passwordConfirm" [(ngModel)]="playerDetails.passwordConfirm" class="form-control" id="conf-pwd">
      </div>
      <div class="form-group">
        <label for="pwd">Avatar:</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="imageInput" lang="es">
          <label class="custom-file-label" for="imageInput">Seleccionar Imagen</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="registerUser()">Registrar</button>
    </form>
  </div>
</main>