<!-- Begin page content -->

<main role="main" class="container">
    <form class="bg-light shadow-lg border rounded p-5">
      <h2 class="text-center mb-4 text-primary">Información de la cancha</h2>
      <div class="form-group">
        <label for="nameInput"><h4>Nombre</h4></label>
        <input type="text" class="form-control" id="fieldName"  placeholder="Escriba el nombre de la cancha">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><h4>Dirección</h4></label>
        <input type="text" class="form-control" id="fieldAddress"  placeholder="Escriba la dirección de la cancha" maxlength="1000">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"><h4>Teléfono</h4></label>
        <input type="text" class="form-control" id="fieldPhoneNumber"  placeholder="Escriba el teléfono de la cancha" data-inputmask="'mask': '99999999'" maxlength="8">
      </div>
      <label for="exampleInputEmail1"><h4>Foto</h4></label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="imageInput" lang="es">
        <label class="custom-file-label" for="imageInput">Seleccionar Imagen</label>
      </div>
      <br>
      <label for="exampleInputEmail1"><h4>Servicios adicionales</h4></label>
      <div class="form-group">
        
        <textarea class="form-control" id="extraServices"  placeholder="Escriba los servicios adicionales de la cancha" maxlength="1000"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </main>