<!-- Begin page content -->
<main role="main">
  <div class="container d-flex justify-content-center">
    <form class="bg-light shadow-lg border rounded login-signup-form-size p-5">
      <h2 class="text-center mb-4 text-primary">Inicio de Sesión</h2>
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" [(ngModel)]="playerDetails.email" class="form-control" id="email" placeholder="email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Contraseña:</label>
        <input type="password" [(ngModel)]="playerDetails.password" class="form-control" id="pwd" placeholder="password" name="password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
    </form>
  </div>
</main>