<!-- Begin page content -->

<!-- Title and button -->
<main role="main" class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h2 class="text-left ml-5 text-primary">Mis Partidos</h2>
    </div>
    <div class="col-4">
      <button type="button" class="btn bg-dark text-light float-right mr-5">Otros Partidos</button>
    </div>
  </div>
  
  <!-- List of teams -->
  <div class="row p-5">
    <div class="col-12 table-responsive">
        <table class="table border-bottom table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Mi equipo</th>
                <th scope="col">Equipo rival</th>
                <th scope="col">Cancha</th>
                <th scope="col">Resultado</th>
                <th scope="col"># Jugadores</th>
                <th scope="col">Load</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let finalGame of FinalGames">
                <th scope="row">{{finalGame.my_team}}</th>
                <td>{{finalGame.enemy_team}}</td>
                <td>{{finalGame.field_name}}</td>
                <td>{{finalGame.result}}</td>
                <td>{{finalGame.amount_players}}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="viewGame(finalGame.game_id)">Ver</button>
                </td>
                <td>
                  <button type="button" class="btn btn-dark" routerLink="/update-games/{{finalGame.game_id}}">Editar</button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="deleteGameField(field.field_id)">Borrar</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</main>

<!-- Game information -->

<div class="row pl-5 pr-5">
    <div class="col-4 pl-4">
      <div class="row justify-content-center">
        <img src="../../assets/sample_team_avatar.jpg" class="img-fluid rounded-circle img-responsive" alt="Responsive image">
      </div>
      <div class="row justify-content-center">
        <h3 class="text-primary text-center" ng-model="CurrentGame.my_team">{{CurrentGame.my_team}}</h3>
      </div>
    </div>
    <div class="col-4 pl-4">
      
      <div class="game-info row justify-content-center">
          <div class="col-4 pl-4">
              <h3 class="text-success text-center" ng-model="CurrentGame.score1">{{CurrentGame.score1}}</h3>
          </div>
          <div class="col-4 pl-4">
              <h2 class="text-primary text-center">VS</h2>
          </div>
          <div class="col-4 pl-4">
              <h3 class="text-danger text-center" ng-model="CurrentGame.score2">{{CurrentGame.score2}}</h3>
          </div>
      </div>
      <div class="game-info row justify-content-center">
        <h3 class="text-danger text-center" ng-model="CurrentGame.result">{{CurrentGame.result}}</h3>
      </div>
    </div>
    <div class="col-4 pl-4">
      <div class="row justify-content-center">
        <img src="../../assets/sample_team_avatar_2.jpg" class="img-fluid rounded-circle img-responsive" alt="Responsive image">
      </div>
      <div class="row justify-content-center">
        <h3 class="text-primary text-center" ng-model="CurrentGame.enemy_team">{{CurrentGame.enemy_team}}</h3>
      </div>
    </div>
</div>