<!-- Begin page content -->

<main role="main" class="container">
  <form class="bg-light shadow-lg border rounded p-5">
    <h2 class="text-center mb-4 text-primary">Editando Equipo</h2>
    <div class="form-group">
      <label for="nameInput"><h4>Nombre</h4></label>
      <input type="email" class="form-control" id="nameInput" aria-describedby="emailHelp" placeholder="Escriba el nombre">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"><h4>Avatar</h4></label>
      <div class="custom-file">
          <input type="file" class="custom-file-input" id="imageInput" lang="es">
          <label class="custom-file-label" for="imageInput">Seleccionar Imagen</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
  </form>
</main>