<main>
  <div class="container row p-5 mx-auto">
    <button class="col-4 btn btn-light" type="button" (click)="goToTeams()">
      <div class="circle mx-auto border border-success p-5">
        <div class="d-flex justify-content-center p-5">
          <i class="fas fa-users fa-6x circle-icon"></i>	
        </div>
      </div>
      <h3 class="text-center mt-3 text-warning">Equipos</h3>
    </button >
    <button class="col-4 btn btn-light" type="button" (click)="goToFields()">
      <div class="circle mx-auto border border-success p-5">
        <div class="d-flex justify-content-center p-5">
          <i class="fas fa-futbol fa-6x circle-icon"></i>	
        </div>
      </div>
      <h3 class="text-center mt-3 text-warning">Canchas</h3>
    </button>
    <button class="col-4 btn btn-light" type="button" (click)="goToGames()">
      <div class="circle mx-auto border border-success p-5">
        <div class="d-flex justify-content-center p-5">
          <i class="fas fa-running fa-6x circle-icon"></i>	
        </div>
      </div>
      <h3 class="text-center mt-3 text-warning">Partidos</h3>
    </button>
  </div>
</main>