<!-- Begin page content -->

<div class="container-fluid p-0 m-0 overflow-hidden">
    <div class="row">
      <div class="col-5 border-right">
        <div class="col-8">
          <h2 class="text-left ml-5 text-primary">Canchas</h2>
        </div>
        <div class="row p-5">
          <div class="col-12 table-responsive">
            <table class="table border-bottom table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Locación</th>
                  <th scope="col">Load</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let field of Fields">
                  <td>{{field.field_id}}</td>
                  <td>{{field.name}}</td>
                  <td>{{field.address}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="viewGameField(field.field_id)">Ver</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-dark" routerLink="/update-field/{{field.field_id}}">Editar</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger" (click)="deleteGameField(field.field_id)">Borrar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="col-7">
        <h2 class="text-center mb-4 text-primary" ng-model="name">{{name}}</h2>
        <div class="overflow-hidden">
          <div class="form-group">
            <label class="col-md-4" for="exampleInputEmail1"><h4>Dirección:</h4></label>
            <label class="col-md-8" for="exampleInputEmail1" ng-model="address">{{address}}</label>
          </div>
          <div class="form-group">
            <label class="col-md-4" for="exampleInputEmail1"><h4>Teléfono:</h4></label>
            <label class="col-md-8" for="exampleInputEmail1" ng-model="phone">{{phone}}</label>
          </div>
          <div class="form-group">
              <label class="col-md-4" for="exampleInputEmail1"><h4>Servicios adicionales:</h4></label>
              <label class="col-md-8" for="exampleInputEmail1">Futbolín, venta de refrescos</label>
          </div>
          <div class="form-group">
              <label class="col-md-4" for="exampleInputEmail1"><h4>Cantidad de Jugadores:</h4></label>
              <label class="col-md-8" for="exampleInputEmail1" ng-model="capacity">{{capacity}}</label>
          </div>
          <div class="form-group">
              <label class="col-md-4" for="exampleInputEmail1"><h4>Horario:</h4></label>
              <label class="col-md-8" for="exampleInputEmail1" ng-model="schedule">{{schedule}}</label>
          </div>
          <div class="row justify-content-center">
              <img class="col-md-8" src="../../assets/cancha.jpg"  alt="Responsive image">
          </div>
        </div>
      </div>
  </div>
</div>